<form {{action save on="submit"}} class="edit-form">

  <div class="radform">
    {{view Ember.TextField valueBinding="title" id="title" class="content" placeholder="Title"}}
    {{view Ember.TextArea valueBinding="body" id="body" class="content" placeholder="Just Write"}}
  </div>
  <div class="actions">
    <button type="submit" class="btn btn--primary">Save</button>
    <a href="#" {{action "destroy"}} class="btn btn--alt">Delete</a>
  </div>

</form>

<hr>

<p class="cf meta">
  <span class="alignright">Reading time: {{readingTime}}</span>
  Written {{date updatedAt}}
</p>

</div>