<form {{action save on="submit"}} class="edit-form">

  <div class="editor-container">
    {{view Ember.TextField valueBinding="title" id="title" class="content"}}
    {{view Ember.TextArea valueBinding="body" id="body" class="content"}}
  </div>
  <div class="actions">
    <div class="alignright">
      <button type="submit" class="butt">Save</button>
    </div>
    <a href="#" {{action "destroy"}} class="warning-text butt icon icon-remove action">Delete</a>
  </div>


<!--   <p>
    <label for="author">Author</label><br>
    {{view Ember.TextField valueBinding="author" id="author"}}
  </p>

  <p>
    <label for="published_at">Published at</label><br>
    {{view Ember.TextField valueBinding="publishedAt" id="published_at"}}
  </p> -->


</form>

