<div class="navigation">
{{view App.SearchView valueBinding="searchValue" id="search" class="searchbox" placeholder="Search or Create"}}

<ul class="posts unstyled">
  {{#each post in filteredContent}}
    <li class="posts__post">
    {{#linkTo "post" post class="blend-link document-link"}}
      <span class="document-title">{{post.title}}</span>
      <small class="last-edited">
        <span class="mobile-offscreen">Last edited: </span>{{date post.updatedAt}}
      </small>
    {{/linkTo}}
    <div class="mini-actions">
      {{#linkTo "post.edit" post}}Edit{{/linkTo}}
      {{#linkTo "post" post}}View{{/linkTo}}
      <a href="#" {{action "destroy" post}}>Destroy</a>
    </div>
    </li>
  {{else}}
    <h1>Bosh ↵ to make a new note!</h1>
  {{/each}}
</ul>
</div>

<div class="body">
{{outlet}}
</div>
