<div class="hentry document">
<h1>{{title}}</h1>

{{md body}}

<hr>

<p class="cf meta">
  <span class="alignright">Reading time: {{readingTime}}</span>
  Written {{date updatedAt}}
</p>

</div>
<!-- {{#linkTo "posts"}}â†All Posts{{/linkTo}}
{{#linkTo "edit_post" model}}Edit{{/linkTo}}
<a href="#" {{action "destroy"}}>Destroy</a>
 -->